@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css');

textarea:focus, input:focus, button:focus {
    outline: none;
}

.text-end {
    text-align: end;
}
